.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


.wrapper{

    font-size: 0;
    width: 1600px;
    margin: 0 auto;
    margin-bottom: 15px;

}

.header{
    line-height: 30px;

    margin: 0 auto;
    
    padding-top: 36px;
    /* background-color: rgba(255, 255, 255, 0.9);
    position: fixed; */
    width: 1110px;
    

}
.list_link:hover{
    color: #1abc9c;
}
.logo_header{
    margin: 0;
    float: left;
    text-transform: uppercase;
    font-size: 0px;
    font-weight: 100;

}

.logo_header::before{
    content: "m";
    color: #1abc9c;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.link_header{
    color: #515151;
    line-height: 0;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}
.wrapper_header{
    float: right;

}

.header_list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.list_item{

    float: left;
    margin-right: 36px;

    
}

.header_list :last-child{
    margin-right: 0px;
}

.link_header{
    text-decoration: none;

}

.list_link{
    text-decoration: none;
    text-transform: uppercase;
        color: #555252;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 13px;


}



.wrapper_slider{
   
    width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-image: url(../img/slider.jpg);
    position: relative;
}

.section_title{
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 900;
    margin: 0 0 23px 0;
}

.title_description{
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;

}

.slider{
    display: block;
    width: 766px;
    height: 131px;
    position: absolute;
    top: 207px;
    left: 432px;
}

.slider::before{
    content: "\f104";
    display: block;
    width: 100px;
    height: 100px;
    background-color:rgba(84, 161, 143, .85);
    font-size: 70px;
    position: absolute;
    top: 20px;
    right: 850px;
    text-align: center;
    line-height: 100px;
}

.slider::after{
    content: "\f104";
    display: block;
    width: 100px;
    height: 100px;
    background-color:rgba(84, 161, 143, .85);
    font-size: 70px;
    position: absolute;
    top: 20px;
    left: 850px;
    text-align: center;
    line-height: 100px;
}


.products-section{
    margin: 0;
    font-size: 48px;
    color: #515151;
    position: relative;
    margin-bottom: 130px;
}

.products-section::after{
    content: "";
     margin: 0 auto;
    border-bottom: 6px solid #1abc9c;
    width: 160px;
    height: 0;

    position: absolute;
top: 70px; left: 0; bottom: 0; right: 0;


}
.section{
    width: 1110px;
    margin: 0 auto;
    text-align: center;
    padding-top: 98px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.product-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.product{
    float: left;
    width: 255px;
    height: 322px;
    margin: 0px 30px 30px 0px;
    position: relative;

}
.product:nth-child(4n+4){
    margin-right: 0;
}

.name{
    float: left;
    width: 186px;
    height: 40px;
    text-align: left;
    line-height: 40px;
    padding-left: 14px;
    font-size: 18px;
    background-color: #323232;
    color: aliceblue;
    text-transform: uppercase;
}

.price{
    float: right;
    width: 55px;
    height: 40px;
    /* margin-top: 100%; */
    text-align: center;
    line-height: 40px;
    background-color: #8c8c8c;
    color: aliceblue;
}


.price::before{          /* что бы при добавлении контента не приходилось каждый раз вставлять этот знак */
    content: "$"
}
.product-wrapper{
    width: 255px;
    height: 40px;
    margin-top: 282px;

}
.product:hover .name{
    background-color: #1abc9c;
}

.product:hover .price{
    background-color: #7fd9c7;
}

.wrapper_collection{
    width: 1600px;
}

.img1{
    background-image: url(../img/img1.jpg);
}

.img2{
    background-image: url(../img/img2.jpg);
}
.img3{
    background-image: url(../img/img3.jpg);
}
.img4{
    background-image: url(../img/img4.jpg);
}

.cart_add{
position: absolute;
left: 10px;
top: 12px;
width: 235px;
height: 261px;
background-color: rgba(0, 0, 0, .55);
padding-top: 80px;
box-sizing: border-box;
display: none;
}

.product:hover > .cart_add{
    display: block;
}


.like:hover:before{
    background: #1abc9c;
    border-color: transparent;
}


.like::before{
    display: inline-block;
content: "\f004";
color: white;
font-size: 30px;
width: 49px;
height: 49px;
border: 1px solid white;
line-height: 49px;
margin-right: 9px;
margin-bottom: 7px;

}

.mix{
    margin-left: -.40em;
}
.mix:hover:before{
    background: #1abc9c;
    border-color: transparent;
}

.mix::before{
    display: inline-block;
content: "\f074";
color: white;
font-size: 30px;
width: 49px;
height: 49px;
border: 1px solid white;
line-height: 49px;
margin-right: 9px;
margin-bottom: 7px;

}
.clock:hover:before{
    background: #1abc9c;
    border-color: transparent;
}
.clock{
    margin-left: -.40em;
}

.clock::before{
    display: inline-block;
content: "\f017";
color: white;
font-size: 30px;
width: 49px;
height: 49px;
border: 1px solid white;
line-height: 49px;
margin-bottom: 7px;
}

.cart{
    color: white;
font-weight: 500;
}

.cart::before{
    display: inline-block;
content: "\f07a";
color: white;
font-size: 30px;
width: 50px;
height: 48px;
/* border: 1px solid white; */
line-height: 48px;
margin-left: -.40em;
}
.wrappe_cart:hover{
    background: #1abc9c;
    border-color: transparent;
}
.wrappe_cart{
    display: inline-block;
text-align: center;
    width: 165px;
height: 48px;
border: 1px solid white;
background-color: #323232;
}

.footer_wrapper{
    display: block;
    width: 1600px;
    height: 88px;
    background-color: #323232;
    text-align: center;
}
.rights{
    display: inline-block;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.company{
    display: inline-block;
    color: #1abc9c;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}